<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CountryMapper">
    <resultMap id="BaseResultMap" type="Country">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="countryname" jdbcType="VARCHAR" property="countryname"/>
        <result column="countrycode" jdbcType="VARCHAR" property="countrycode"/>
    </resultMap>

    <select id="selectAll" resultType="Country">
        select id,
               countryname,
               countrycode
        from country
    </select>

    <select id="selectBy1" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{666}
    </select>

    <select id="selectBy2" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{id} and countryname = #{name} and countrycode = #{code}
    </select>

    <select id="selectBy3" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{0} and countryname = #{1} and countrycode = #{2}
    </select>

    <select id="selectBy4" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{id} and countryname = #{name} and countrycode = #{code}
    </select>

    <select id="selectBy5" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{id} and countryname = #{countryname} and countrycode = #{countrycode}
    </select>

    <select id="selectBy6" resultType="Country">
        select id, countryname, countrycode
        from country where id = #{country.id} and countryname = #{country.countryname} and countrycode = #{country.countrycode}
    </select>

</mapper>
